<p>This is a demo of server side username validation. Type into the username field to test. After 500 milliseconds, or leaving the field, the form will call out to the server to confirm if the value is unique. Entering "not unique" will demonstrate a validation failure for a username only the server knows about.</p>
<form class="users-add">
  {{app-input fieldName='username' model=model value=model.username label='Username'}}
  {{app-input fieldName='firstName' model=model value=model.firstName label='First Name'}}
  {{app-input fieldName='lastName' model=model value=model.lastName label='Last Name'}}
  <div>
    <button type="submit" {{action "add" model}}>Create New User</button>
  </div>
</form>
