<p>This is a demo of a basic add form. Entering "not unique" into the username field and submitting will demonstrate a validation failure at the database for a non-unique username.</p>
<form class="users-add">
  {{app-input fieldName='username' model=model value=model.username label='Username'}}
  {{app-input fieldName='firstName' model=model value=model.firstName label='First Name'}}
  {{app-input fieldName='lastName' model=model value=model.lastName label='Last Name'}}
  <div>
    <button type="submit" {{action "add" model}}>Create New User</button>
  </div>
</form>
